@import '../../styles/base.scss';


.formGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 900px) {
        flex-direction: column;
        justify-content: flex-start;
    }
}
.formControlLabel{
    @media (max-width: 900px) {
        margin-bottom: 2rem;
    }
}
.checkBoxLabelContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    //media query for small screens
    @media (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;

    }
}
.tooltip{
    background-color: $white;
    border-radius: 2px;
    padding: 0.5rem 1rem;
}
.tooltipText{
    font-size: 1.2rem;
    color: $primary-color;
    @media (max-width: 800px) {
            margin-left: 0;
    }
}
.tooltipInnerText{
    color: $primary-color;
    margin-left: 0.5rem;
    @media (max-width: 800px) {
            margin-left: 0;
    }
}
.button{
    height:4.5rem;
    padding: 0 1rem;
}