@import '../../styles/base.scss';

.title{
    margin-bottom: 8rem;
}
.container{
    background-color: $white;
    padding-top: 1rem;
}
.container_arrow_top{
    position: relative;
    background-color: $white;
}
.container_arrow_top::after{
  content: " ";
  position: absolute;
  left: 24.1%;
  top: -10px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid $white;
}
.checkboxButtonContainer{
    margin-top: 21.7rem;
}
@media (max-width: 768px) {
    .container_arrow_top::after{
        left: 22%;
    }
}
@media (max-width: 768px) {
    .container_arrow_top::after{
        left: 22%;
    }
}