@import '../../styles/base.scss';

.title{
    margin-bottom: 8rem;
    @media (max-width: 1600px) {
        margin-bottom: 3rem;
    }
    
    @media (max-width: 1265px) {
        margin-bottom: 3rem;
        font-size: $title-mid-size;
    }
}
.container{
    background-color: $white;
    padding-top: 1rem;
}
.container_arrow_top{
    position: relative;
    background-color: $white;
}
.container_arrow_top::after{
  content: " ";
  position: absolute;
  left: 22.3%;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid $white;
}
.checkboxButtonContainer{
    margin-top: 21.7rem;
    @media (max-width: 900px) {
        margin-top: 12rem;
    }
    @media(max-width: 600px){
        margin-top: 8rem;
    }
    @media(max-width: 500px){
        margin-top: 5rem;
    }
}
@media (max-width: 1265px) {
    p{
        font-size: $text-mid-size;
    }
}