@import '../../styles/base.scss';

.container{
    background-color: $white;
    padding-top: 1rem;
}
.container_arrow_top{
    position: relative;
    background-color: $white;
}
.container_arrow_top::after{
  content: " ";
  position: absolute;
  left: 47.5%;
  top: -10px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid $white;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 4.5rem;
}