@import '../../../styles/base.scss';

.title{
    
    @media (max-width: 1265px) {
        margin-bottom: 2rem;
        font-size: $title-mid-size;
    }
    @media (max-width: 900px) {
        margin-bottom: 0.5rem;
        font-size: $title-mid-size;
    }
}
.container{
    background-color: $white;
    padding-top: 1rem;
}
.container_arrow_top{
    position: relative;
    background-color: $white;
}
.container_arrow_top::after{
  content: " ";
  position: absolute;
  left: 48.4%;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid $white;
  @media(max-width: 1600px){
    left: 47.6%;
  }
  @media(max-width: 1200px){
    left: 47.6%;
  }
  @media(max-width: 1024px){
    left: 47%;
  }
  @media(max-width: 900px){
        left: 49.8%;
  }
}
