@import '../../../styles/base.scss';


.container{
    background-color: $header-color;
    height: 7rem;
    color: $white;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.key_logo{
    height: 6rem;
    margin-left: 3rem;
}
.openbank_logo{
    height: 2rem;
}
