@import '../../styles/base.scss';

.container{
    background-color: $white;
    padding-top: 5rem;
}
.container_arrow_top{
    position: relative;
    background-color: $white;
}
.container_arrow_top::after{
  content: " ";
  position: absolute;
  left: 73.48%;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid $white;
}