
.inputsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}
.inputHintBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 8rem;
}
.inputLabel{
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.textField{
    width: 18rem;
}
