@import './styles/base.scss';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 1rem 0 0 0;
  font-size: 4rem;
}

p {
  margin: 0;
  font-size: 1.5rem;
}
label{
  margin: 0;
  font-size: 1.5rem;
}
.MuiStepConnector-line.MuiStepConnector-lineHorizontal.css-z7uhs0-MuiStepConnector-line{
  border:1px solid black;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-completed.css-1m13l5j-MuiSvgIcon-root-MuiStepIcon-root{
  color: red;
  font-size: 2rem;
}