@import './styles/base.scss';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 1rem 0 0 0;
  font-size: 4rem;
}

p {
  margin: 0;
  font-size: 1.5rem;
}
label{
  margin: 0;
  font-size: 1.5rem;
}
.MuiStepConnector-line.MuiStepConnector-lineHorizontal.css-z7uhs0-MuiStepConnector-line{
  display:none;
}
.MuiStepConnector-root.MuiStepConnector-horizontal.Mui-disabled.css-j5w0w9-MuiStepConnector-root {
  border:1.5px solid black;
  background-color: #000000;
}
.MuiStepConnector-root.MuiStepConnector-horizontal.Mui-active.css-j5w0w9-MuiStepConnector-root{
  border: 2px solid #FF0049;
  background-color: #FF0049;
}
.MuiStepConnector-root.MuiStepConnector-horizontal.Mui-completed.css-j5w0w9-MuiStepConnector-root{
  border: 2px solid #FF0049;
  background-color: #FF0049;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-completed.css-1m13l5j-MuiSvgIcon-root-MuiStepIcon-root{
  color: #FF0049;
  font-size: 1.7rem;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active.css-1m13l5j-MuiSvgIcon-root-MuiStepIcon-root{
  color: #000000;
  font-size: 2.2rem;
}
.MuiStep-root.MuiStep-horizontal.css-1bw0nnu-MuiStep-root{
  margin: 0;
  padding: 0;
}
.MuiStepLabel-iconContainer.Mui-active.css-vnkopk-MuiStepLabel-iconContainer{
  margin: 0;
  padding: 0;
}
.MuiStepLabel-iconContainer.Mui-disabled.css-vnkopk-MuiStepLabel-iconContainer{
  margin: 0;
  padding: 0;
}
.MuiStepLabel-iconContainer.Mui-completed.css-vnkopk-MuiStepLabel-iconContainer{
  margin: 0;
  padding: 0;
}